---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SignatureProblems from '../components/SignatureProblems.astro';
import Offers from '../components/Offers.astro';
import ApproachSteps from '../components/ApproachSteps.astro';
import ProofTiles from '../components/ProofTiles.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main class="pt-14">
    <Hero />
    <SignatureProblems />
    <Offers />
    <ApproachSteps />
    <ProofTiles />
  </main>
  <Footer />
</Base>
